<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/pic/favicon.ico" type="image/x-icon">
    <title>Fresh Web Components</title>
</head>

<body>
    <main>
        <header>
            <img src="/assets/pic/favicon.ico" alt="" class="logo">
            Fresh Web Components
        </header>
        <main class="main1">

            <div class="categories">
                <p>Browse by categories:</p>
                    <a href="#">
                        <button>All navbar :</button>
                    </a>
                    <br>
                    <br>
                    <a href="#">
                        <button>Pricing Cards :</button>
                    </a>
                    <br>
                    <br>
                    <a href="#">
                        <button>Home Pages :</button>
                    </a>
                    <br>
                    <br>
                    <a href="#">
                        <button>Buttons :</button>
                    </a>
                    <br>
                    <br>
                    <a href="#">
                       <button>Effects :</button>
                    </a>
                    <br>
                    <br>
                    <a href="#">
                        <button>Animations :</button>
                    </a>
                    <br>
                    <br>
                    <a href="#"> 
                        <button>Featured Components :</button>
                    </a>
                    <br>
                    <br>
                    <a href="#">
                        <button>Something Speacial !</button>
                    </a>
                    <br>
                    <br>
                    <a href="#">
                        <button>More :</button>
                    </a>

            </div>
            <div class="pic">
                <img src="/assets/pic/pic.png" alt="" class="pic">
            </div>



        </main>




    </main>

</body>

</html>
