<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/pic/favicon.ico" type="image/x-icon">
    <title>Fresh Web Components</title>
</head>

<body>
    <main>
        <header>
            <img src="/assets/pic/favicon.ico" alt="" class="logo">
            Fresh Web Components
        </header>
        <main class="main1">

            <div class="categories">
                <p>Browse by categories:</p>
                <ul>
                    <a href="#">
                        <li>All navber:</li>
                    </a>
                    <br>
                    <a href="#">
                        <li>Pricing Cards:</li>
                    </a>
                    <br>
                    <a href="#">
                        <li>Home Pages :</li>
                    </a>
                    <br>
                    <a href="#">
                        <li>Buttons :</li>
                    </a>
                    <br>
                    <a href="#">
                        <li>Effects :</li>
                    </a>
                    <br>
                    <a href="#">
                        <li>Animations :</li>
                    </a>
                    <br>
                    <a href="#"> 
                        <li>Featured Components :</li>
                    </a>
                    <br>
                    <a href="#">
                        <li>Something Speacial !</li>
                    </a>
                </ul>

            </div>
            <div class="pic">
                <img src="/assets/pic/pic.png" alt="" class="pic">
            </div>



        </main>




    </main>

</body>

</html>