@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body > main{
    margin: 10vh 10vw;
}
body > main > header > img.logo{
    height: 2.5vh;
    transition: 1s;
}
body > main > header{
    font-family: 'Lobster';
    font-size: 20px;
    transition: .5s;
}
body > main > main.main1 {
    display: flex;
}
body > main > main.main1 > div.categories{
   padding: 10vh 0;
   /* border: .5px solid green; */
   width: 50vw;
   transition: .5s;
}
body > main > main.main1 > div.categories > p{
    padding: 3vh 0;
    font-size: 13px;
    font-family: 'Quicksand';
    transition: .5s;
 }
 body > main > main.main1 > div.categories > a > button{
     background-color: #EDEDED;
     padding: 2.5vh;
     border-radius: 30px;
     color: #000000;
     font-family: 'Poppins';
     text-align: center;
     transition: ease-in-out .5s;
     border: none;
     min-width: 20vw;
     cursor: pointer;
 }
 body > main > main.main1 > div.categories > a > button:hover{
    background: linear-gradient(285.12deg, #136AB9 8.76%, #52CCDE 133.39%);
    color: #ffffff;
    border-radius: 10px;
    transition: ease-out .5s;
 }
 body > main > main.main1 > div.pic > img.pic {
     height: 60vh;
     /* border: .5px solid red; */
     margin-left: 20vw;
     position: sticky;
     top: 10%;
     transition: 1s;

 }
